<html>
    <head>
        <title>Istanbul</title>
    </head>
    <body>
        <div>
            <h1><a href="/">The Imperial Capital-Istanbul</a></h1>
        </div>

        <div>
            <p>published: 04.11.2020, 20:14</p>
            <h2><a href="">For more than 1500 years Istanbul was the capital of Roman, Byzantine and Ottoman Empires.</a></h2>
            <p>With one arm reaching out to Asia and the other to Europe, Istanbul is the only city in the world built on two continents. The Bosphorus courses the waters of the Black Sea, the Sea of Marmara and the Golden Horn through the city's heart.

Istanbul's fate has been sealed by its vital strategic location and its enchanting natural beauty. For more than 1500 years it was the capital of three empires: Roman, Byzantine and the Ottoman Empires. It was beautified accordingly with magnificent monuments and became a metropolis where diverse cultures, nations and religions mingled. Those cultures, nations and religions are the small pieces that form the mosaic of Istanbul.

Istanbul's most important building works started in the Byzantine period and the city was then embellished further during the days of the Ottoman Empire.</p>
        </div>

        <div>
            <p>published: 04.11.2020, 21:00</p>
            <h2><a href="">Modern and Traditional Together</a></h2>
            <p>It is Istanbul's endless variety that fascinates its visitors. The museums, churches, palaces, grand mosques, bazaars and sites of natural beauty are countless. As relaxing on the western shores of the Bosphorus at sunset and watching the red evening light reflected on the other continent, you may suddenly and profoundly understand why so many centuries ago settlers chose to build a city on this remarkable site. At such times you can see why Istanbul is truly one of the most glorious cities in the world.</p>
        </div>
    </body>
</html>
